@use '../../../styles.scss';

.card {
  max-width: 180px;
}

.card-text,
.card-footer {
  text-align: justify;
}

.card-background {
  background-color: beige;
}

.hovered:hover {
  //box-shadow: 10px 10px 5px grey;
  border-color: styles.$base-color;
  border-width: 2px;
}

.image__cover {
  background-color: rgb(255, 255, 255);
  position: relative;
  top: -25px;
  height: 25px;
}

.card__body {
  position: relative;
  top: -25px;
}

.card-title {
  min-height: 2.5em;
}

.fa {
  color: styles.$base-color;
}

.desc__text {
  font-size: 0.8rem;
  min-height: 8em;
}

.modal-footer{
  background-color: styles.$base-color;
}

.btn__edit{
  background-color: styles.$base-color;
  margin-right: 5px;
}
