<div class="row col-12 d-flex">
  <h1 class="text-center my-5 col-12 col-md-10">A felhők csodálatos világa</h1>

  <button class="btn card__shadow col-12 col-md-2 my-md-5 ms-2 ms-md-0">
    <a class="" routerLink="/list">Felhőlista</a>
  </button>
</div>


<div class="card card__shadow" style="max-width: 1000px">
  <div class="row g-0">
    <div class="col-md-6 image__background--1">
      <img src="../../../assets/img/spec_clouds/Mammatus.jpg" class="img-fluid rounded-start image__disappear"
        alt="mammatus" />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h3 class="card-title my-4">Mert a felhők különlegesek</h3>
        <p class="card-text">
          A Föld légköre egyedülálló az Univerzumban. Nem is gondolnánk, mert
          számunkra természetes, de hajszálnyi dolgokon múlik például a
          csapadékképződés. Tűpontosan be van állítva a légkör működése, hogy az
          életet lehetővé tegye.
        </p>
        <br />
        <p class="card-text">
          Isten örök hatalmát és isteni természetét emberi szem nem láthatja.
          Ezeket mégis érzékelheti és megértheti mindenki a világ teremtése óta,
          amikor Isten alkotásait értelmesen vizsgálja. 
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card card__shadow ms-auto" style="max-width: 1000px">
  <div class="row g-0">
    <div class="col-md-6 image__background--2">
      <img src="../../../assets/img/spec_clouds/strom-wallpaper.jpg" class="img-fluid rounded-start image__disappear"
        alt="mammatus" />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h3 class="card-title my-3">Mert a felhők látványosak</h3>
        <p class="card-text">
          A műholdak és az automata megfigyelőrendszerek fejlődésével az
          időjárás vizuális megfigyelése egyre inkább háttérbe szorul. Pedig a
          felhő gyönyörűek, azokat figyelni nagyon is érdemes!
        </p>
        <br />
        <p class="card-text">
          A szupercellás zivatarfelhők hatalmas, forgó mozgást végző
          felhőtornyokat hoznak létre, melyek a szél, az eső és a jég által
          óriási pusztítást hagyhatnak maguk után.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card card__shadow" style="max-width: 1000px">
  <div class="row g-0">
    <div class="col-md-6 image__background--3">
      <img src="../../../assets/img/spec_clouds/Stratocumulus_stratiformis_opacus_lacunosus_undulatus_asperitas.jpg"
        class="img-fluid rounded-start image__disappear" alt="mammatus" />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h3 class="card-title my-4">Mert a felhők állandóan változnak</h3>
        <p class="card-text">
          A levegő körülöttünk folyamatos mozgásban van, így a felhők is állandó
          változásban vannak: kialakulnak, fejlődnek, feloszlanak,
          áthelyeződnek, szebbnél szebb formákat mutatnak.
        </p>
        <br />
        <p class="card-text">
          Közben a napmagasság is mindig változik, a felhőket gyakran csodálatos
          színekre festve az égbolton.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card card__shadow ms-auto" style="max-width: 1000px">
  <div class="row g-0">
    <div class="col-md-6 image__background--4">
      <img src="../../../assets/img/spec_clouds/MorningGloryCloudBurketownFromPlane.jpg"
        class="img-fluid rounded-start image__disappear" alt="mammatus" />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h3 class="card-title my-3">Mert a felhőket fölülről is jó nézni</h3>
        <p class="card-text">
          Egészen különleges látványt nyújtanak a felhők a magasból szemlélve
          őket. Térbeli formájuk sokszor egészen döbbenetes alakot ölthet!
        </p>
        <br />
        <p class="card-text">
          A tengerpartokon kialakuló hengerfelhő és a vulkánkitörés tetjén
          keletkező úgynevezett pileus felhő repülőgépről nézve egészen különleges látványt
          nyújt.
        </p>
      </div>
    </div>
  </div>
</div>
